{% extends "base.html.twig" %}

{% block title %}
New Post
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Add new Post</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>{{form_widget(form)}}</div>
            <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-md-2"></div>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}